<!DOCTYPE html>
<html>
  <head>
    <title>Thermostat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
  <div class="row no-gutters">
    <div class="col no-gutters">
      <div class="left-side">
        <div class="control-panel">
          <h1 id="temperature"></h1>
          <p>
            <button id="temperature-up" class="control-button">&nbsp;&nbsp;+&nbsp;&nbsp;</button>
            <button id="temperature-down" class="control-button">&nbsp;&nbsp;-&nbsp;&nbsp;</button>
            <button id="temperature-reset" class="control-button">&nbsp;&nbsp;reset&nbsp;&nbsp;</button>
            <br>
            <span id="power-saving-mode">power saving mode:</span>
            <br>
            <label class="switch">
              <input id="PSM-switch" type="checkbox">
              <span class="slider round"></span>
            </label>
          </p>
          <br>
          <h3>Search current temperature: <span id="current-temperature"></span></h3>
          <form id="select-city" action="/temperature" method="post">
            <input id="current-city" type="text" placeholder="Enter a city"></input>
            <input type="submit"></input>
          </form>
        </div>
        <script src="javascripts/Thermostat.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="javascripts/interface.js"></script>
      </div>
    </div>
    <div class="col no-gutters">
      <div class="right-side">
        <span id="degrees">degrees</span>
        <img id="thermometer" src="thermometer.png" />
      </div>
    </div>
  <div>
  </body>
</html>